body {
  background-color: beige;
}

table {
  border: solid 0.1px black;
  background-color: white;
  margin: auto;
  width: 500px;
  height: 200px;
}
th {
  border: solid 0.1px black;
}
td {
  border: solid 0.1px black;
}
